/* Dashboard.module.css */
.dashboard {
  padding: 20px;
  background-color: #f1f9f0; /* Light green background */
  min-height: 100vh;
}

.attackCountContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #d4edda; /* Light green background */
  border: 2px solid #c3e6cb; /* Slightly darker green border */
  border-radius: 12px;
  width: 50%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.attackCount {
  font-size: 2.5rem;
  font-weight: bold;
  color: #155724; /* Dark green */
  margin-top: 10px;
}

.loadingText {
  margin-top: 10px;
  color: #6c757d; /* Grey color */
}

.heading {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #004d00; /* Dark green */
}

.chartRow {
  display: flex;
  flex-direction: column; /* Stack charts vertically */
  justify-content: center;
  align-items: center; /* Center charts horizontally */
  gap: 20px;
  margin-bottom: 30px;
}

.chartContainer {
  width: 80%; /* Increase width to make charts bigger */
  max-width: 600px; /* Optional: Set a max width for responsiveness */
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0 auto; /* Center the chart container */
}

@media (max-width: 768px) {
  .chartContainer {
    width: 100%; /* Full width on smaller screens */
    margin-bottom: 20px;
  }
}
.chartContainer h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #004d00; /* Dark green */
  text-align: center;
}

.pieChartContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pieChartLegend {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #d4edda; /* Light green */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pieChartLegend p {
  margin: 5px 0;
  font-size: 14px;
  color: #004d00; /* Dark green */
}

.table {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.table thead {
  background-color: #004d00; /* Dark green */
  color: #fff;
}

.table tbody tr:hover {
  background-color: #e2f0e1; /* Light green on hover */
}

.table td, .table th {
  text-align: center;
  padding: 12px;
}

.table th {
  font-weight: bold;
  color: #fff;
}

@media (max-width: 768px) {
  .chartRow {
    flex-direction: column;
  }

  .chartContainer {
    width: 100%;
    margin-bottom: 20px;
  }
}
